{
  "bracketSpacing": true,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "jsxSingleQuote": false,
  "semi": false,
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "always",
  "trailingComma": "none",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "singleAttributePerLine": false
      }
    }
  ]
}
