@import 'tailwindcss';

@theme {
  --breakpoint-sm: 450px; /* Custom breakpoint */
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .sticky-column-shadow {
    box-shadow: 5px 0 20px -10px rgba(0, 0, 0, 0.3);
  }
}

@plugin "daisyui";
