@import "tailwindcss";

@theme {
  --breakpoint-sm: 450px; /* Custom breakpoint */
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@layer utilities {
   .scrollbar-hide {
      scrollbar-width: none;
   }
   .scrollbar-hide::-webkit-scrollbar {
      display: none;
   }
}

@plugin "daisyui";